.head{
/* image head */
}

.conteneur
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960 px;
    min-width: 600 px;
}

.element_100
{
  width: 100%;
  max-width: 960 px;
  min-width: 600 px;;
  background-color: blue;
}
.element_33
{
width: 33.33%;
min-width: 200 px;
background-color: black;
}
.element_50
{
  width: 50%;
  min-width: 300 px;
  background-color: black;
}
.element_75
{
width: 75%;
min-width: 450 px;
background-color: red;
}
