
#conteneur1
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.element_left
{
  width: 25%;
  min-width: 250 px;
  background-color: blue;
}
.element_right
{
width: 75%;
min-width: 500 px;
background-color: red;
}
